li.list-group-item
  .media
    .media-left
      a href='#'
        - if message.user.image?
          = image_tag message.user.image.url, size: '50x50'
        - else
          = image_tag 'no_img.png', size: '50x50'
    .media-body
      h4.media-heading
        = message.user.name
      - if message.twitter
        = render 'messages/twitter_account', { content: message.content }
      - else
        = message.content
        br
        = image_tag message.picture if message.picture?
