.item_header
  = link_to '', get_profile_url(content)
  span.item_user-icon
    = image_tag get_profile_image(content)
  span.item_user-name
    strong
      = get_profile_name(content)
  span.item_user-name
    = get_profile_nick_name(content)
  span.item_user-name
    = get_profile_description(content)