h1.text-center
  | Welcome to Sample Chat
button.btn.btn-default.btn-lg.center-block#user_img
  span.glyphicon.glyphicon-camera#camera

= form_for @user, html: { class: 'center-block', multipart: true } do |f|
  = render 'shared/error_messages', object: f.object
  = f.file_field :image
  = f.label :name, 'What is your name?', class: 'text-center center-block', id: 'user_label'
  = f.text_field :name, class: 'form-control center-block', id: 'user_name'
  = f.submit 'Enter the room', class: 'btn btn-primary center-block', id: 'new_user'