.middle.item
  h1 Chat room

  .panel.panel-default
    ul.list-group.item#messages
      = render @messages

  .btn.btn-warning.logout
    = link_to 'Leave the room', logout_path

footer.footer#chat_frame
  .container
    .row#chat_row
      .col-md-1.col-md-offset-2
        button.btn.btn-default#image_button data-placement='left'
          span.glyphicon.glyphicon-plus
      = form_for @message, html: { multipart: true, remote: true }, authenticity_token: true do |f|
        = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'
        .col-md-5
          = f.text_area :content, class: 'form-control'
        .col-md-1#send_message
          = f.submit 'Send', class: 'btn btn-primary', id: 'send_button'
      .col-md-3
        - if logged_in_with_twitter?
          a.btn.btn-block.btn-social.btn-twitter#send_twitter
            span.fa.fa-twitter
            | Send Twitter Account
        - else
          a.btn.btn-block.btn-social.btn-twitter href='auth/twitter'
            span.fa.fa-twitter
            | Login with Twitter
