html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding-bottom: 20px;
}

body, .item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 98%;
  overflow: auto;
}

#footer {
  background-color: #ccc;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

#chat_frame {
  height: 70px;
  box-sizing: border-box;
  background-color: #2E2F30;
  bottom: 0px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

#chat_row {
  padding-top: 20px;
}

#message_content {
  height: 35px;
}

textarea {
  resize: none;
}

.logout {
  position: absolute;
  top: 5%;
  right: 5%;
}

#footer {
  background-color: #2E2F30;
  bottom: 0;
  margin-top: 20px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

#enter_twitter {
  width: 200px;
}

.center-block {
  height: 40%;
  width: 50%;
}

#message_picture {
  display: none;
}

.twitter_account {
  border: solid;
}

.item_header {
  position: relative;
  border: solid 1px #c8c8c8;
  width: 60%;
  padding: 10px;
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:hover {
      background-color:#FFF;
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      opacity: 0.5;
    }
  }
}

.item_user-icon {
  float: left;
}

.item_user-name {
  display: block;
  margin-left: 60px;
}

.popover {
  z-index: 2;
}