// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_img {
  opacity: 0.5;
  background-image: url('chat_no_img_mid.jpg');
  height: 300px;
  width: 300px;
}

#user_label {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  font-size: 24px;
}

.glyphicon-camera {
  font-size: 100px;
}

#user_image {
  display: none;
}

#new_user {
  margin-top: 15px;
}