doctype html
html
  head
    title
      | SampleChat
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body data-action=("#{action_name}") data-controller=("#{controller_name}")
    .flash_container
      - flash.each do |message_type, message|
        = content_tag :div, message, class: "alert alert-#{message_type}"
    = yield
